@tailwind base;
@tailwind components;
@tailwind utilities;
/* colors to play with lemon:#F8ffa1, pink:f6d5ee, lilac:a8a3f6, navy:24316b, black */
body{
  width: 100%;
}
.card-1,.card-4,.card-7,.card-10,.card-13{
  background: #a8a3f6;
}
.card-2,.card-5,.card-8,.card-11,.card-14{
    background: #f8ffa1;
}
.card-3,.card-6,.card-9,.card-12,.card-15{
    background: #f6d5ee;
}